<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sản phẩm</title>
    <!-- link den css mac dinh(trang normallize) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="css/header.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="css/trangchu.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/sanpham.css">
    <!-- link font chu -->
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <script src="js/jquery-3.6.0.min.js"></script>
</head>

<body>

    <div class="app">
        <!-- header -->
        <header class="header">
            <!-- header-top -->
            <div class="header-top ">
                <div class="container">
                    <div class="header-top1">
                        <ul>
                            <li style="border-right: 1px solid var(--text-color); padding-right: 10px;"><a class="hover"
                                    href="#"><i class="fa-solid fa-phone-flip"></i> Phone: 0868812510</a>
                            </li>
                            <li><a class="hover" href="#"><i class="fa-regular fa-envelope"></i>
                                    Email:yendaodinh842005@gmail.com</a></li>

                        </ul>
                    </div>
                    <div class="header-top2">
                        <ul>
                            <li><a class="thongbao hover" href="#"><i class="fa-regular fa-bell"
                                        style="margin-right: 5px;"></i>Thông báo</a></li>
                            <li><a href="#" class="hover"><i class="fa-regular fa-circle-question "
                                        style="margin-right: 5px;"></i>Hỗ
                                    trợ</a></li>
                            <li class="Language"> <a href="javascript:void(0)" class="language-select"> Language <i
                                        class="fa-solid fa-angle-down"></i> </a>
                                <ul class="Language-option" style="display:none;">
                                    <li data-value="Tiếng Việt">Tiếng việt </li>
                                    <li data-value="English">English</li>
                                </ul>
                            </li>
                            <li style="border-right: 1px solid var(--text-color); padding-right: 10px;"
                                id="auth-options1"><a class="hover" href="/dangki">Đăng kí</a></li>
                            <li id="auth-options"><a class="hover" href="/dangnhap">Đăng nhập</a></li>
                            <li style="display: none;cursor: pointer;" onclick="logout()" id="logout-option"><a
                                    href="#"><i class="fa-solid fa-user"></i> đăng xuất</a></li>
                            <script src="js/dangkidangnhapdxuat.js"></script>
                        </ul>

                    </div>
                </div>
            </div>

            <!-- header-main -->
            <div class="container">


                <div class="header-main">
                    <div class="inner-logo">
                        <a href="/trangchu">
                            <img src="img/img trang chu/logo1.png" alt="logo">
                            <span>MobileShop</span>
                        </a>
                    </div>

                    <div class="timkiem">
                        <div class="timkieminput">
                            <input type="text" id="searchInput" class="input"
                                placeholder="Nhập tên điện thoại, phụ kiện...cần tìm" style="width: calc(100% - 50px);">
                            <!-- Xu huong tim kiem -->
                            <div class="history">
                                <h3 class="heading">Xu hướng tìm kiếm</h3>
                                <ul class="list_history">
                                    <li class="item"><a href="#"><i class="fa-solid fa-magnifying-glass"
                                                style="font-size: 14px;"></i>Iphone 16 pro max</a></li>
                                    <li class="item"><a href="#"><i class="fa-solid fa-magnifying-glass"
                                                style="font-size: 14px;"></i>iPad</a></li>
                                    <li class="item"><a href="#"><i class="fa-solid fa-magnifying-glass"
                                                style="font-size: 14px;"></i>Điện thoại SamSung</a></li>
                                    <li class="item"><a href="#"><i class="fa-solid fa-magnifying-glass"
                                                style="font-size: 14px;"></i>Tai nghe</a></li>
                                    <li class="item"><a href="#"><i class="fa-solid fa-magnifying-glass"
                                                style="font-size: 14px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;"></i>Linh
                                            kiên điện thoại</a></li>
                                </ul>
                            </div>
                        </div>
                        <button class="search" id="searchBtn">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>

                    <div class="giohang">
                        <a href="/giohang"><i class="fa-solid fa-cart-shopping" style="color: #000;"></i>
                            <span class="notice">3</span>
                        </a>
                    </div>

                </div>
                <div class="header-bottom" style="width: 100%;    ; border-radius: 8px;">
                    <ul>
                        <li><a href="/trangchu">
                                <h3>Trang chủ</h3>
                            </a></li>
                        <li><a href="#">
                                <h3>Giới thiệu</h3>
                            </a></li>
                        <li><a href="/sanpham">
                                <h3>Cửa hàng</h3>
                            </a></li>
                        <li><a href="/sanpham">
                                <h3>Sản Phẩm</h3>
                            </a></li>
                        <li><a href="#">
                                <h3>Bài viết</h3>
                            </a></li>
                        <li><a href="#">
                                <h3>Khách Hàng</h3>
                            </a></li>
                        <li><a href="#">
                                <h3>Liên hệ</h3>
                            </a></li>
                        <li><a href="#">
                                <h3>Danh sách sản phẩm</h3>
                            </a></li>


                    </ul>
                </div>
            </div>


        </header>


        <!-- main -->
        <div class="main">
            <div class="main1">
                <div class="container">
                    <div class="tieude">
                        <p><a href="/trangchu" class="trangchu">Trang chủ</a> /
                            Sản phẩm</p>
                        <h1>Sản phẩm</h1>
                    </div>
                </div>
            </div>


            <div class="main2">
                <div class="container">



                    <div class="chitietsp1">
                        <button class="pre_btn"><i class="fa-solid fa-chevron-left"></i></button>
                        <div class="slide_list">
                            <img class="img_chitietsp" src="img/img trang sp/H1_1440x242_9198d44bc4.png" alt="">
                            <img class="img_chitietsp" src="img/img trang sp/H1_1440x242_5_3a5c338d57.png" alt="">

                            <img class="img_chitietsp" src="img/img trang sp/H1_1440x242_c0de51c82d.png" alt="">
                            <img class="img_chitietsp" src="img/img trang sp/H1_1440x242_d60d828d25.png" alt="">
                            <img class="img_chitietsp" src="img/img trang sp/H1_1440x242_f14be03ff2.png" alt="">

                        </div>
                        <button class="next_btn"><i class="fa-solid fa-chevron-right"></i></button>
                    </div>


                </div>




            </div>

            <div class="main3">
                <div class="container">
                    <div class="inner-wrap-main3">
                        <div class="main3_1">
                            <div class="boloc">
                                <i class="fa-solid fa-filter"></i>
                                <h3>Bộ lọc tìm kiếm</h3>
                            </div>
                            <div class="filter-section">
                                <h3>Mức giá</h3>
                                <ul>
                                    <li><input type="radio" name="mucgia" id="all" checked><label for="all">Tất
                                            cả</label></li>
                                    <li><input type="radio" name="mucgia" id="under-2"><label for="under-2">Dưới 2
                                            triệu</label></li>
                                    <li><input type="radio" name="mucgia" id="2-4"><label for="2-4">Từ 2 - 4
                                            triệu</label></li>
                                    <li><input type="radio" name="mucgia" id="4-7"><label for="4-7">Từ 4 - 7
                                            triệu</label></li>
                                    <li><input type="radio" name="mucgia" id="7-13"><label for="7-13">Từ 7 - 13
                                            triệu</label></li>
                                    <li><input type="radio" name="mucgia" id="13-20"><label for="13-20">Từ 13 - 20
                                            triệu</label></li>
                                    <li><input type="radio" name="mucgia" id="over-20"><label for="over-20">Trên 20
                                            triệu</label></li>
                                </ul>
                                <div class="price-range">
                                    <label>Hoặc nhập khoảng giá phù hợp với bạn:</label>
                                    <p></p>
                                    <input type="number" placeholder="400.000đ" id="price-from" min="400000"
                                        max="4799000"> ~
                                    <input type="number" placeholder="47.990.000đ" id="price-to" min="400000"
                                        max="4799000">
                                    <div id="error-message" class="error-message">Vui lòng nhập giá trị từ 400.000đ đến
                                        47.990.000đ</div>

                                </div>
                            </div>
                            <div class="filter-section">
                                <h3>Hệ điều hành</h3>
                                <button class="filter-btn"
                                    style="    margin-left: 10px;margin-right: 10px;">iOS</button>
                                <button class="filter-btn" style="margin-left: 0;">Android</button>
                            </div>
                            <div class="filter-section">
                                <h3>Dung luong ROM</h3>
                                <button class="filter-btn1" style="    margin-left: 10px;margin-right: 10px;">
                                    <i style="font-size: 13px;" class="fa-solid fa-chevron-left"></i>128GB </button>

                                <button class="filter-btn1" style="margin-left: 0;">256GB</button>
                                <button class="filter-btn1" style="margin-left: 10px; ">512GB</button>

                            </div>
                            <div class="filter-section">
                                <h3>Kết nối</h3>
                                <button class="filter-btn"
                                    style="    margin-left: 10px;margin-right: 10px;">NFC</button>
                                <button class="filter-btn" style="margin-left: 0;">Bluetooth</button>
                            </div>
                            <div class="filter-section">
                                <h3>Hiệu năng và pin</h3>
                                <ul>
                                    <li><input type="radio" name="mucgia1" id="all1" checked><label for="all1">Tất
                                            cả</label></li>
                                    <li><input type="radio" name="mucgia1" id="under-21"><label for="under-21">Dưới 3000
                                            mah</label></li>
                                    <li><input type="radio" name="mucgia1" id="2-41"><label for="2-41">Pin từ 3000 -
                                            4000 mah</label></li>
                                    <li><input type="radio" name="mucgia1" id="4-71"><label for="4-71">Pin từ 4000 -
                                            5000 mah</label></li>
                                    <li><input type="radio" name="mucgia1" id="7-131"><label for="7-131">Siêu trâu: trên
                                            5000 mah</label></li>

                                </ul>
                            </div>
                            <div class="filter-section">
                                <h3>Hỗ trợ mạng</h3>
                                <button class="filter-btn"
                                    style="    margin-left: 10px;margin-right: 10px; padding: 5px 20px;">4G</button>
                                <button class="filter-btn" style="margin-left: 0;padding: 5px 20px;">5G</button>
                            </div>
                            <div class="filter-section">
                                <h3>RAM</h3>
                                <button class="filter-btn" style="    margin-left: 10px;margin-right: 10px; ">
                                    8GB</button>
                                <button class="filter-btn" style="margin-left: 0;">16GB</button>
                                <button class="filter-btn" style="margin-left: 0;margin-left: 10px;">32GB</button>

                            </div>
                            <div class="filter-section">
                                <h3>Màn hình</h3>
                                <ul>
                                    <li><input type="radio" name="mucgia2" id="all11" checked><label for="all11">Tất
                                            cả</label></li>
                                    <li><input type="radio" name="mucgia2" id="under-211"><label for="under-211">Màn
                                            hình nhỏ</label></li>
                                    <li><input type="radio" name="mucgia2" id="2-411"><label for="2-411">Từ 5 - 6.5
                                            icnh</label></li>
                                    <li><input type="radio" name="mucgia2" id="4-711"><label for="4-711">Từ 6.5 - 6.8
                                            icnh</label></li>
                                    <li><input type="radio" name="mucgia2" id="7-1311"><label for="7-1311">Trên 6.8
                                            inch</label></li>

                                </ul>
                            </div>
                        </div>


                        <div class="main3_2">
                            <div class="locnhanh">
                                <span style="padding: 10px; color: #939497;">Lọc nhanh:</span>
                                <div class="hangsx" tabindex="0">Hãng sản xuất <i style="margin-left: 8px;"
                                        class="fa-solid fa-angle-down"></i></div>
                                <div class="list_hangsx">
                                    <div style="padding: 10px;">
                                        <div class="hangsx_item">
                                            <div class="hangsx_item1">iPhone</div>
                                            <div class="hangsx_item1">Apple</div>
                                            <div class="hangsx_item1">SamSung</div>

                                        </div>
                                        <div class="hangsx_item">
                                            <div class="hangsx_item1">Oppo</div>
                                            <div class="hangsx_item1">Xiaomi</div>
                                            <div class="hangsx_item1">Redmi</div>

                                        </div>
                                        <div class="hangsx_item">
                                            <div class="hangsx_item1">Honor</div>
                                            <div class="hangsx_item1">Tecno</div>
                                            <div class="hangsx_item1">Nokia</div>

                                        </div>
                                        <div class="hangsx_item">
                                            <div class="hangsx_item1">Redmi</div>
                                            <div class="hangsx_item1">Realme</div>
                                            <div class="hangsx_item1">Viettel</div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="Sxtheo">
                                <div>
                                    Tìm thấy <b>115 </b>kết quả
                                </div>
                                <div style="display: flex;position: relative;">
                                    <span style="padding: 10px; color: #939497;">Sắp xếp theo:</span>
                                    <div class="noibat" tabindex="0">Nổi bật <i style="margin-left: 65px;"
                                            class="fa-solid fa-angle-down"></i>
                                    </div>
                                    <div class="list_sx">
                                        <ul>
                                            <li class="list_sx_item">Nổi bật</li>
                                            <li class="list_sx_item">Giá cao nhất</li>
                                            <li class="list_sx_item">Giá thấp nhất</li>
                                            <li class="list_sx_item">Trả góp 0%</li>
                                        </ul>
                                    </div>
                                </div>

                            </div>


                            <div class="main3_2_listsp" style="margin-bottom: 10px;">
                                <div class="main3_2_sp">
                                    <div class="sp1" style="padding: 6px;">
                                        <div class="img_sp1">
                                            <div class="img_sp1" style="padding-top: 15px; padding-left: 5px">
                                                <a href="/chitietsp"><img style="width: 140px;height: 140px;"
                                                        src="img/img trang chu/iphone_16_pro_max_bda3030b4b.png"
                                                        alt="iphone16"></a>
                                            </div>
                                            <div class="img_sp2">
                                                <img style="height: 180px;padding-left: 13px;padding-top: 3px;"
                                                    src="img/img trang chu/ip161.png" alt="">
                                            </div>

                                        </div>
                                        <div class="thongtin_spmr1">
                                            <div class="tragop">
                                                Trả góp 0%
                                            </div>
                                            <div class="tt">
                                                <p style="    margin-bottom: 0;
                                                text-decoration: line-through;
                                                font-size: 13px;
                                                color: #6F7280;">34.990.000 đ</p>
                                                <h3
                                                    style="    margin-bottom: 8px;font-size: 18px; color: var(--text-color);">
                                                    33.890.000 đ</h3>
                                                <p style="    margin-top: 0px;
                                                color: #059568;
                                                font-size: 12px;">Giảm 1.100.000 đ</p>
                                                <p><a href="/chitietsp" style="color: var(--text-color);">iPhone 16
                                                        Pro Max 256GB</a></p>
                                            </div>
                                            <div class="color-options">
                                                <div class="color1"></div>
                                                <div class="color2"></div>
                                                <div class="color3"></div>

                                            </div>



                                        </div>
                                    </div>
                                </div>

                                <div class="main3_2_sp">
                                    <div class="sp1" style="padding: 6px;">
                                        <div class="img_sp1">
                                            <div class="img_sp1" style="padding-top: 15px; padding-left: 5px">
                                                <a href="/chitietsp"><img style="width: 140px;height: 140px;"
                                                        src="img/img trang sp/honor_x5b_xanh_3_07413a1fe9.jpg"
                                                        alt="iphone16"></a>
                                            </div>
                                            <div class="img_sp2">
                                                <img style="height: 180px;padding-left: 13px;padding-top: 3px;"
                                                    src="img/img trang chu/ip161.png" alt="">
                                            </div>

                                        </div>
                                        <div class="thongtin_spmr1">
                                            <div class="tragop">
                                                Trả góp 0%
                                            </div>
                                            <div class="tt">
                                                <p style="    margin-bottom: 0;
                                                text-decoration: line-through;
                                                font-size: 13px;
                                                color: #6F7280;">34.990.000 đ</p>
                                                <h3
                                                    style="    margin-bottom: 8px;font-size: 18px; color: var(--text-color);">
                                                    33.890.000 đ</h3>
                                                <p style="    margin-top: 0px;
                                                color: #059568;
                                                font-size: 12px;">Giảm 1.100.000 đ</p>
                                                <p><a href="/chitietsp" style="color: var(--text-color);">Honor X5b
                                                        4GB 64GB</a></p>
                                            </div>
                                            <div class="color-options">
                                                <div class="color1"></div>
                                                <div class="color2"></div>
                                                <div class="color3"></div>

                                            </div>



                                        </div>
                                    </div>
                                </div>
                                <div class="main3_2_sp">
                                    <div class="sp1" style="padding: 6px;">
                                        <div class="img_sp1">
                                            <div class="img_sp1" style="padding-top: 15px; padding-left: 5px">
                                                <a href="/chitietsp"><img style="width: 140px;height: 140px;"
                                                        src="img/img trang sp/oppo_reno13_f_5g_xam_4_40988633f5.png"
                                                        alt="iphone16"></a>
                                            </div>
                                            <div class="img_sp2">
                                                <img style="height: 180px;padding-left: 13px;padding-top: 3px;"
                                                    src="img/img trang chu/ip161.png" alt="">
                                            </div>

                                        </div>
                                        <div class="thongtin_spmr1">
                                            <div class="tragop">
                                                Trả góp 0%
                                            </div>
                                            <div class="tt">
                                                <p style="    margin-bottom: 0;
                                                text-decoration: line-through;
                                                font-size: 13px;
                                                color: #6F7280;">34.990.000 đ</p>
                                                <h3
                                                    style="    margin-bottom: 8px;font-size: 18px; color: var(--text-color);">
                                                    33.890.000 đ</h3>
                                                <p style="    margin-top: 0px;
                                                color: #059568;
                                                font-size: 12px;">Giảm 1.100.000 đ</p>
                                                <p><a href="/chitietsp" style="color: var(--text-color);">OPPO
                                                        Reno13 F 8GB 256GB</a></p>
                                            </div>
                                            <div class="color-options">
                                                <div class="color1"></div>
                                                <div class="color2"></div>
                                                <div class="color3"></div>

                                            </div>



                                        </div>
                                    </div>
                                </div>
                                <div class="main3_2_sp">
                                    <div class="sp1" style="padding: 6px;">
                                        <div class="img_sp1">
                                            <div class="img_sp1" style="padding-top: 15px; padding-left: 5px">
                                                <a href="/chitietsp"><img style="width: 140px;height: 140px;"
                                                        src="img/img trang sp/samsung_galaxy_a06_blue_black_1_46d3694f11.png"
                                                        alt="iphone16"></a>
                                            </div>
                                            <div class="img_sp2">
                                                <img style="height: 180px;padding-left: 13px;padding-top: 3px;"
                                                    src="img/img trang chu/ip161.png" alt="">
                                            </div>

                                        </div>
                                        <div class="thongtin_spmr1">
                                            <div class="tragop">
                                                Trả góp 0%
                                            </div>
                                            <div class="tt">
                                                <p style="    margin-bottom: 0;
                                                text-decoration: line-through;
                                                font-size: 13px;
                                                color: #6F7280;">34.990.000 đ</p>
                                                <h3
                                                    style="    margin-bottom: 8px;font-size: 18px; color: var(--text-color);">
                                                    33.890.000 đ</h3>
                                                <p style="    margin-top: 0px;
                                                color: #059568;
                                                font-size: 12px;">Giảm 1.100.000 đ</p>
                                                <p><a href="/chitietsp" style="color: var(--text-color);">Samsung
                                                        Galaxy A06 4GB 128GB</a></p>
                                            </div>
                                            <div class="color-options">
                                                <div class="color1"></div>
                                                <div class="color2"></div>
                                                <div class="color3"></div>

                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main3_2_listsp" style="margin-bottom: 10px;">
                                <div class="main3_2_sp">
                                    <div class="sp1" style="padding: 6px;">
                                        <div class="img_sp1">
                                            <div class="img_sp1" style="padding-top: 15px; padding-left: 5px">
                                                <a href="/chitietsp2"><img style="width: 140px;height: 140px;"
                                                        src="img/img trang sp/ss.png" alt="iphone16"></a>
                                            </div>
                                            <div class="img_sp2">
                                                <img style="height: 180px;padding-left: 13px;padding-top: 3px;"
                                                    src="img/img trang chu/ip161.png" alt="">
                                            </div>

                                        </div>
                                        <div class="thongtin_spmr1">
                                            <div class="tragop">
                                                Trả góp 0%
                                            </div>
                                            <div class="tt">
                                                <p style="    margin-bottom: 0;
                                                text-decoration: line-through;
                                                font-size: 13px;
                                                color: #6F7280;">13.990.000 đ</p>
                                                <h3
                                                    style="    margin-bottom: 8px;font-size: 18px; color: var(--text-color);">
                                                    16.990.000 đ</h3>
                                                <p style="    margin-top: 0px;
                                                color: #059568;
                                                font-size: 12px;">Giảm 3.000.000 đ</p>
                                                <p><a href="/chitietsp2" style="color: var(--text-color);">Samsung
                                                        Galaxy S24 FE 5G 128GB</a></p>
                                            </div>
                                            <div class="color-options">
                                                <div class="color1"></div>
                                                <div class="color2"></div>
                                                <div class="color3"></div>

                                            </div>



                                        </div>
                                    </div>
                                </div>

                                <div class="main3_2_sp">
                                    <div class="sp1" style="padding: 6px;">
                                        <div class="img_sp1">
                                            <div class="img_sp1" style="padding-top: 15px; padding-left: 5px">
                                                <a href="/chitietsp2"><img style="width: 140px;height: 140px;"
                                                        src="img/img trang sp/honor_200_5g_trang_5_56db4af3b6.jpg"
                                                        alt="iphone16"></a>
                                            </div>
                                            <div class="img_sp2">
                                                <img style="height: 180px;padding-left: 13px;padding-top: 3px;"
                                                    src="img/img trang chu/ip161.png" alt="">
                                            </div>

                                        </div>
                                        <div class="thongtin_spmr1">
                                            <div class="tragop">
                                                Trả góp 0%
                                            </div>
                                            <div class="tt">
                                                <p style="    margin-bottom: 0;
                                                text-decoration: line-through;
                                                font-size: 13px;
                                                color: #6F7280;">13.990.000 đ</p>
                                                <h3
                                                    style="    margin-bottom: 8px;font-size: 18px; color: var(--text-color);">
                                                    16.990.000 đ</h3>
                                                <p style="    margin-top: 0px;
                                                color: #059568;
                                                font-size: 12px;">Giảm 3.000.000 đ</p>
                                                <p><a href="/chitietsp2" style="color: var(--text-color);">Honor
                                                        200 5G 12GB 256GB</a></p>
                                            </div>
                                            <div class="color-options">
                                                <div class="color1"></div>
                                                <div class="color2"></div>
                                                <div class="color3"></div>

                                            </div>



                                        </div>
                                    </div>
                                </div>


                                <div class="main3_2_sp">
                                    <div class="sp1" style="padding: 6px;">
                                        <div class="img_sp1">
                                            <div class="img_sp1" style="padding-top: 15px; padding-left: 5px">
                                                <a href="/chitietsp2"><img style="width: 140px;height: 140px;"
                                                        src="img/img trang sp/honor_x9c_tim_5_0ac40e3956.png"
                                                        alt="iphone16"></a>
                                            </div>
                                            <div class="img_sp2">
                                                <img style="height: 180px;padding-left: 13px;padding-top: 3px;"
                                                    src="img/img trang chu/ip161.png" alt="">
                                            </div>

                                        </div>
                                        <div class="thongtin_spmr1">
                                            <div class="tragop">
                                                Trả góp 0%
                                            </div>
                                            <div class="tt">
                                                <p style="    margin-bottom: 0;
                                                text-decoration: line-through;
                                                font-size: 13px;
                                                color: #6F7280;">13.990.000 đ</p>
                                                <h3
                                                    style="    margin-bottom: 8px;font-size: 18px; color: var(--text-color);">
                                                    16.990.000 đ</h3>
                                                <p style="    margin-top: 0px;
                                                color: #059568;
                                                font-size: 12px;">Giảm 3.000.000 đ</p>
                                                <p><a href="/chitietsp2" style="color: var(--text-color);">Honor
                                                        X9c 5G 12GB 256GB</a></p>
                                            </div>
                                            <div class="color-options">
                                                <div class="color1"></div>
                                                <div class="color2"></div>
                                                <div class="color3"></div>

                                            </div>



                                        </div>
                                    </div>
                                </div>

                                <div class="main3_2_sp">
                                    <div class="sp1" style="padding: 6px;">
                                        <div class="img_sp1">
                                            <div class="img_sp1" style="padding-top: 15px; padding-left: 5px">
                                                <a href="/chitietsp2"><img style="width: 140px;height: 140px;"
                                                        src="img/img trang sp/samsung_galaxy_m55_den_4_d7f9674500.jpg"
                                                        alt="iphone16"></a>
                                            </div>
                                            <div class="img_sp2">
                                                <img style="height: 180px;padding-left: 13px;padding-top: 3px;"
                                                    src="img/img trang chu/ip161.png" alt="">
                                            </div>

                                        </div>
                                        <div class="thongtin_spmr1">
                                            <div class="tragop">
                                                Trả góp 0%
                                            </div>
                                            <div class="tt">
                                                <p style="    margin-bottom: 0;
                                                text-decoration: line-through;
                                                font-size: 13px;
                                                color: #6F7280;">13.990.000 đ</p>
                                                <h3
                                                    style="    margin-bottom: 8px;font-size: 18px; color: var(--text-color);">
                                                    16.990.000 đ</h3>
                                                <p style="    margin-top: 0px;
                                                color: #059568;
                                                font-size: 12px;">Giảm 3.000.000 đ</p>
                                                <p><a href="/chitietsp2" style="color: var(--text-color);">Samsung
                                                        Galaxy M55 5G 256GB</a></p>
                                            </div>
                                            <div class="color-options">
                                                <div class="color1"></div>
                                                <div class="color2"></div>
                                                <div class="color3"></div>

                                            </div>



                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="main3_2_listsp" style="margin-bottom: 20px;">
                                <div class="main3_2_sp">
                                    <div class="sp1" style="padding: 6px;">
                                        <div class="img_sp1">
                                            <div class="img_sp1" style="padding-top: 15px; padding-left: 5px">
                                                <a href="/chitietsp3"><img style="width: 140px;height: 140px;"
                                                        src="img/img trang sp/xiaomi_14t_pro_blue_1_5f61c0cb50.png"
                                                        alt="iphone16"></a>
                                            </div>
                                            <div class="img_sp2">
                                                <img style="height: 180px;padding-left: 13px;padding-top: 3px;"
                                                    src="img/img trang chu/ip161.png" alt="">
                                            </div>

                                        </div>
                                        <div class="thongtin_spmr1">
                                            <div class="tragop">
                                                Trả góp 0%
                                            </div>
                                            <div class="tt">
                                                <p style="    margin-bottom: 0;
                                                text-decoration: line-through;
                                                font-size: 13px;
                                                color: #6F7280;">34.990.000 đ</p>
                                                <h3
                                                    style="    margin-bottom: 8px;font-size: 18px; color: var(--text-color);">
                                                    33.890.000 đ</h3>
                                                <p style="    margin-top: 0px;
                                                color: #059568;
                                                font-size: 12px;">Giảm 1.100.000 đ</p>
                                                <p><a href="/chitietsp" style="color: var(--text-color);">Xiaomi
                                                        14T Pro 12GB 1TB</a></p>
                                            </div>
                                            <div class="color-options">
                                                <div class="color1"></div>
                                                <div class="color2"></div>
                                                <div class="color3"></div>

                                            </div>



                                        </div>
                                    </div>
                                </div>

                                <div class="main3_2_sp">
                                    <div class="sp1" style="padding: 6px;">
                                        <div class="img_sp1">
                                            <div class="img_sp1" style="padding-top: 15px; padding-left: 5px">
                                                <a href="/chitietsp3"><img style="width: 140px;height: 140px;"
                                                        src="img/img trang sp/poco_m6_pro_003aba177e (1).png"
                                                        alt="iphone16"></a>
                                            </div>
                                            <div class="img_sp2">
                                                <img style="height: 180px;padding-left: 13px;padding-top: 3px;"
                                                    src="img/img trang chu/ip161.png" alt="">
                                            </div>

                                        </div>
                                        <div class="thongtin_spmr1">
                                            <div class="tragop">
                                                Trả góp 0%
                                            </div>
                                            <div class="tt">
                                                <p style="    margin-bottom: 0;
                                                text-decoration: line-through;
                                                font-size: 13px;
                                                color: #6F7280;">34.990.000 đ</p>
                                                <h3
                                                    style="    margin-bottom: 8px;font-size: 18px; color: var(--text-color);">
                                                    33.890.000 đ</h3>
                                                <p style="    margin-top: 0px;
                                                color: #059568;
                                                font-size: 12px;">Giảm 1.100.000 đ</p>
                                                <p><a href="/chitietsp" style="color: var(--text-color);">Xiaomi
                                                        Poco M6 Pro 8GB 256GB</a></p>
                                            </div>
                                            <div class="color-options">
                                                <div class="color1"></div>
                                                <div class="color2"></div>
                                                <div class="color3"></div>

                                            </div>



                                        </div>
                                    </div>
                                </div>

                                <div class="main3_2_sp">
                                    <div class="sp1" style="padding: 6px;">
                                        <div class="img_sp1">
                                            <div class="img_sp1" style="padding-top: 15px; padding-left: 5px">
                                                <a href="/chitietsp3"><img style="width: 140px;height: 140px;"
                                                        src="img/img trang sp/oppo_a3_tim_5_a81a5f4bf7.jpg"
                                                        alt="iphone16"></a>
                                            </div>
                                            <div class="img_sp2">
                                                <img style="height: 180px;padding-left: 13px;padding-top: 3px;"
                                                    src="img/img trang chu/ip161.png" alt="">
                                            </div>

                                        </div>
                                        <div class="thongtin_spmr1">
                                            <div class="tragop">
                                                Trả góp 0%
                                            </div>
                                            <div class="tt">
                                                <p style="    margin-bottom: 0;
                                                text-decoration: line-through;
                                                font-size: 13px;
                                                color: #6F7280;">34.990.000 đ</p>
                                                <h3
                                                    style="    margin-bottom: 8px;font-size: 18px; color: var(--text-color);">
                                                    33.890.000 đ</h3>
                                                <p style="    margin-top: 0px;
                                                color: #059568;
                                                font-size: 12px;">Giảm 1.100.000 đ</p>
                                                <p><a href="/chitietsp" style="color: var(--text-color);">OPPO A3
                                                        6GB 128GB</a></p>
                                            </div>
                                            <div class="color-options">
                                                <div class="color1"></div>
                                                <div class="color2"></div>
                                                <div class="color3"></div>

                                            </div>



                                        </div>
                                    </div>
                                </div>

                                <div class="main3_2_sp">
                                    <div class="sp1" style="padding: 6px;">
                                        <div class="img_sp1">
                                            <div class="img_sp1" style="padding-top: 15px; padding-left: 5px">
                                                <a href="/chitietsp3"><img style="width: 140px;height: 140px;"
                                                        src="img/img trang sp/samsung_galaxy_s24_ultra_2f8a5ee174.png"
                                                        alt="iphone16"></a>
                                            </div>
                                            <div class="img_sp2">
                                                <img style="height: 180px;padding-left: 13px;padding-top: 3px;"
                                                    src="img/img trang chu/ip161.png" alt="">
                                            </div>

                                        </div>
                                        <div class="thongtin_spmr1">
                                            <div class="tragop">
                                                Trả góp 0%
                                            </div>
                                            <div class="tt">
                                                <p style="    margin-bottom: 0;
                                                text-decoration: line-through;
                                                font-size: 13px;
                                                color: #6F7280;">34.990.000 đ</p>
                                                <h3
                                                    style="    margin-bottom: 8px;font-size: 18px; color: var(--text-color);">
                                                    33.890.000 đ</h3>
                                                <p style="    margin-top: 0px;
                                                color: #059568;
                                                font-size: 12px;">Giảm 1.100.000 đ</p>
                                                <p><a href="/chitietsp" style="color: var(--text-color);">Samsung
                                                        Galaxy S24 Ultra 5G 256GB</a></p>
                                            </div>
                                            <div class="color-options">
                                                <div class="color1"></div>
                                                <div class="color2"></div>
                                                <div class="color3"></div>

                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main3_2_listsp" style="margin-bottom: 20px;">
                                <div class="main3_2_sp">
                                    <div class="sp1" style="padding: 6px;">
                                        <div class="img_sp1">
                                            <div class="img_sp1" style="padding-top: 15px; padding-left: 5px">
                                                <a href="/chitietsp4"><img style="width: 140px;height: 140px;"
                                                        src="img/img trang sp/tecno.jpg" alt="iphone16"></a>
                                            </div>
                                            <div class="img_sp2">
                                                <img style="height: 180px;padding-left: 13px;padding-top: 3px;"
                                                    src="img/img trang chu/ip161.png" alt="">
                                            </div>

                                        </div>
                                        <div class="thongtin_spmr1">
                                            <div class="tragop">
                                                Trả góp 0%
                                            </div>
                                            <div class="tt">
                                                <p style="    margin-bottom: 0;
                                                text-decoration: line-through;
                                                font-size: 13px;
                                                color: #6F7280;">34.990.000 đ</p>
                                                <h3
                                                    style="    margin-bottom: 8px;font-size: 18px; color: var(--text-color);">
                                                    33.890.000 đ</h3>
                                                <p style="    margin-top: 0px;
                                                color: #059568;
                                                font-size: 12px;">Giảm 1.100.000 đ</p>
                                                <p><a href="/chitietsp4" style="color: var(--text-color);">Tecno
                                                        Spark 20C 4GB 128GB</a></p>
                                            </div>
                                            <div class="color-options">
                                                <div class="color1"></div>
                                                <div class="color2"></div>
                                                <div class="color3"></div>

                                            </div>



                                        </div>
                                    </div>
                                </div>

                                <div class="main3_2_sp">
                                    <div class="sp1" style="padding: 6px;">
                                        <div class="img_sp1">
                                            <div class="img_sp1" style="padding-top: 15px; padding-left: 5px">
                                                <a href="/chitietsp4"><img style="width: 140px;height: 140px;"
                                                        src="img/img trang sp/2024_3_19_638464669526032000_samsung-galaxy-a55-xanh-png-1.png"
                                                        alt="iphone16"></a>
                                            </div>
                                            <div class="img_sp2">
                                                <img style="height: 180px;padding-left: 13px;padding-top: 3px;"
                                                    src="img/img trang chu/ip161.png" alt="">
                                            </div>

                                        </div>
                                        <div class="thongtin_spmr1">
                                            <div class="tragop">
                                                Trả góp 0%
                                            </div>
                                            <div class="tt">
                                                <p style="    margin-bottom: 0;
                                                text-decoration: line-through;
                                                font-size: 13px;
                                                color: #6F7280;">34.990.000 đ</p>
                                                <h3
                                                    style="    margin-bottom: 8px;font-size: 18px; color: var(--text-color);">
                                                    33.890.000 đ</h3>
                                                <p style="    margin-top: 0px;
                                                color: #059568;
                                                font-size: 12px;">Giảm 1.100.000 đ</p>
                                                <p><a href="/chitietsp4" style="color: var(--text-color);">Samsung
                                                        Galaxy A55 5G 128GB</a></p>
                                            </div>
                                            <div class="color-options">
                                                <div class="color1"></div>
                                                <div class="color2"></div>
                                                <div class="color3"></div>

                                            </div>



                                        </div>
                                    </div>
                                </div>

                                <div class="main3_2_sp">
                                    <div class="sp1" style="padding: 6px;">
                                        <div class="img_sp1">
                                            <div class="img_sp1" style="padding-top: 15px; padding-left: 5px">
                                                <a href="/chitietsp4"><img style="width: 140px;height: 140px;"
                                                        src="img/img trang sp/oppo_reno12_f_green_800b5588d2.png"
                                                        alt="iphone16"></a>
                                            </div>
                                            <div class="img_sp2">
                                                <img style="height: 180px;padding-left: 13px;padding-top: 3px;"
                                                    src="img/img trang chu/ip161.png" alt="">
                                            </div>

                                        </div>
                                        <div class="thongtin_spmr1">
                                            <div class="tragop">
                                                Trả góp 0%
                                            </div>
                                            <div class="tt">
                                                <p style="    margin-bottom: 0;
                                                text-decoration: line-through;
                                                font-size: 13px;
                                                color: #6F7280;">34.990.000 đ</p>
                                                <h3
                                                    style="    margin-bottom: 8px;font-size: 18px; color: var(--text-color);">
                                                    33.890.000 đ</h3>
                                                <p style="    margin-top: 0px;
                                                color: #059568;
                                                font-size: 12px;">Giảm 1.100.000 đ</p>
                                                <p><a href="/chitietsp4" style="color: var(--text-color);">Tecno
                                                        Spark 20C 4GB 128GB</a></p>
                                            </div>
                                            <div class="color-options">
                                                <div class="color1"></div>
                                                <div class="color2"></div>
                                                <div class="color3"></div>

                                            </div>



                                        </div>
                                    </div>
                                </div>

                                <div class="main3_2_sp">
                                    <div class="sp1" style="padding: 6px;">
                                        <div class="img_sp1">
                                            <div class="img_sp1" style="padding-top: 15px; padding-left: 5px">
                                                <a href="/chitietsp4"><img style="width: 140px;height: 140px;"
                                                        src="img/img trang sp/samsung_galaxy_z_flip4_567aa5d37e.jpg"
                                                        alt="iphone16"></a>
                                            </div>
                                            <div class="img_sp2">
                                                <img style="height: 180px;padding-left: 13px;padding-top: 3px;"
                                                    src="img/img trang chu/ip161.png" alt="">
                                            </div>

                                        </div>
                                        <div class="thongtin_spmr1">
                                            <div class="tragop">
                                                Trả góp 0%
                                            </div>
                                            <div class="tt">
                                                <p style="    margin-bottom: 0;
                                                text-decoration: line-through;
                                                font-size: 13px;
                                                color: #6F7280;">34.990.000 đ</p>
                                                <h3
                                                    style="    margin-bottom: 8px;font-size: 18px; color: var(--text-color);">
                                                    33.890.000 đ</h3>
                                                <p style="    margin-top: 0px;
                                                color: #059568;
                                                font-size: 12px;">Giảm 1.100.000 đ</p>
                                                <p><a href="/chitietsp4" style="color: var(--text-color);">Tecno
                                                        Spark 20C 4GB 128GB</a></p>
                                            </div>
                                            <div class="color-options">
                                                <div class="color1"></div>
                                                <div class="color2"></div>
                                                <div class="color3"></div>

                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pagination" id="pagination-container"
                                style="display: flex; gap: 5px; justify-content: center; margin-top: 20px;">
                            </div>


                        </div>

                    </div>
                </div>


            </div>
            <!-- footer -->
            <footer class="footer">
                <div class="container">
                    <div class="footer-container">

                        <div class="footer1">

                            <h3 class="footer_heading">MobileShop</h3>
                            <ul class="footer_list">

                                <li><a href="">Địa chỉ: Hưng Yên</a></li>
                                <li><a href="">Number: 0868812510</a></li>
                                <li><a href="">Email: yendaodinh842005@gmail.com</a></li>
                            </ul>

                        </div>
                        <div class="footer1">
                            <h3 class="footer_heading">Cửa hàng</h3>
                            <ul class="footer_list">

                                <li><a href="">Liên hệ</a> </li>
                                <li><a href="">Thông tin về chúng tôi</a></li>
                                <li><a href="">Giỏ hàng</a></li>
                            </ul>
                        </div>
                        <div class="footer1">
                            <h3 class="footer_heading">Khuyến mãi ưu đãi</h3>
                            <ul class="footer_list">

                                <li style="color: #666;">

                                    <label for="fullname">Đăng kí nhận thông tin ở
                                        đây</label><!--ấn vào họ tên vẫn link vào ô input thuộc tính for-->
                                    <br>
                                    <div style="display: flex;">
                                        <input id="fullname" required placeholder="Nhập email" name="ho_ten"
                                            type="email" maxlength="10"
                                            style="padding: 8px;margin-top: 12px;"><!--hiển thị theo nhiều cách-->
                                        <div
                                            style=" align-items: center; display: flex ;margin-top: 12px;border: 1px #000 solid;padding: 0 5px;cursor: pointer; ">
                                            Đăng kí</div>
                                    </div>
                                </li>

                                <li style="display: flex;">
                                    <div class="footer_item">
                                        <a href="" style="color: black;"><i class="fa-brands fa-facebook"></i></a>
                                    </div>
                                    <div class="footer_item">
                                        <a href="" style="color: black;"><i class="fa-brands fa-instagram"></i></a>
                                    </div>
                                    <div class="footer_item">
                                        <a href="" style="color: black;"><i class="fa-brands fa-linkedin"></i></a>
                                    </div>


                                </li>
                            </ul>
                        </div>
                        <div class="footer1">
                            <h3 class="footer_heading">Địa chỉ</h3>
                            <ul class="footer_list">

                                <li><iframe class="bando"
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59729.553537434054!2d106.02220331783772!3d20.665628398322173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135c12ae1ec71a3%3A0x4d32999e6a9bb398!2zVHAuIEjGsG5nIFnDqm4sIEjGsG5nIFnDqm4sIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1734952209219!5m2!1svi!2s"
                                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                        referrerpolicy="no-referrer-when-downgrade"></iframe></li>

                            </ul>
                        </div>

                    </div>

                </div>
            </footer>
            <script src="js/jquery-3.6.0.min.js"></script>
            <script src="js/sanpham.js"></script>
            <script src="js/giohang.js"></script>
        </div>

</body>

</html>