<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOCILE SHOP</title>
    <!-- link den css mac dinh(trang normallize) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="css/header.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="css/trangchu.css">
    <link rel="stylesheet" href="css/footer.css">
    <!-- link font chu -->
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
        <script src="js/jquery-3.6.0.min.js"></script>
    
</head>

<body>
    <div class="App">


        <!-- heager -->

        <header class="header">
            <!-- header-top -->
            <div class="header-top ">
                <div class="container">
                    <div class="header-top1">
                        <ul>
                            <li style="border-right: 1px solid var(--text-color); padding-right: 10px;"><a class="hover"
                                    href="#"><i class="fa-solid fa-phone-flip"></i> Phone: 0868812510</a>
                            </li>
                            <li><a class="hover" href="#"><i class="fa-regular fa-envelope"></i>
                                    Email:yendaodinh842005@gmail.com</a></li>
    
                        </ul>
                    </div>
                    <div class="header-top2">
                        <ul>
                            <li><a class="thongbao hover" href="#"><i class="fa-regular fa-bell"
                                        style="margin-right: 5px;"></i>Thông báo</a></li>
                            <li><a href="#" class="hover"><i class="fa-regular fa-circle-question "
                                        style="margin-right: 5px;"></i>Hỗ
                                    trợ</a></li>
                            <li class="Language"> <a href="javascript:void(0)" class="language-select"> Language <i
                                        class="fa-solid fa-angle-down"></i> </a>
                                <ul class="Language-option" style="display:none;">
                                    <li data-value="Tiếng Việt">Tiếng việt </li>
                                    <li data-value="English">English</li>
                                </ul>
                            </li>
                            <li style="border-right: 1px solid var(--text-color); padding-right: 10px;" id="auth-options1"><a class="hover"
                                    href="/dangki">Đăng kí</a></li>
                            <li id="auth-options"><a class="hover" href="/dangnhap">Đăng nhập</a></li>
                            <li style="display: none;" id="logout-option">
                                <a href="javascript:void(0)" id="btn-logout">
                                    <i class="fa-solid fa-user"></i> Đăng xuất
                                </a>
                            </li>
                            <script src="/js/auth_header.js"></script>
                        </ul>
                        
                    </div>
                </div>
            </div>
    
            <!-- header-main -->
            <div class="container">
    
    
                <div class="header-main">
                    <div class="inner-logo">
                        <a href="/trangchu">
                            <img src="img/img trang chu/logo1.png"
                                alt="logo">
                            <span>MobileShop</span>
                        </a>
                    </div>
    
                    <div class="timkiem">
                        <div class="timkieminput">
                            <input type="text" class="input" placeholder="Nhập tên điện thoại, phụ kiện...cần tìm"
                                style="width: calc(100% - 50px);">
                            <!-- Xu huong tim kiem -->
                            <div class="history">
                                <h3 class="heading">Xu hướng tìm kiếm</h3>
                                <ul class="list_history">
                                    <li class="item"><a href="#"><i class="fa-solid fa-magnifying-glass"
                                                style="font-size: 14px;"></i>Iphone 16 pro max</a></li>
                                    <li class="item"><a href="#"><i class="fa-solid fa-magnifying-glass"
                                                style="font-size: 14px;"></i>iPad</a></li>
                                    <li class="item"><a href="#"><i class="fa-solid fa-magnifying-glass"
                                                style="font-size: 14px;"></i>Điện thoại SamSung</a></li>
                                    <li class="item"><a href="#"><i class="fa-solid fa-magnifying-glass"
                                                style="font-size: 14px;"></i>Tai nghe</a></li>
                                    <li class="item"><a href="#"><i class="fa-solid fa-magnifying-glass"
                                                style="font-size: 14px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;"></i>Linh
                                            kiên điện thoại</a></li>
                                </ul>
                            </div>
                        </div>
                        <button class="search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
    
                    <div class="giohang">
                        <a href="/giohang"><i class="fa-solid fa-cart-shopping" style="color: #000;"></i>
                            <span class="notice" style="display: none;">0</span>
                        </a>
                    </div>
    
                </div>
                <div class="header-bottom" style="width: 100%;    ; border-radius: 8px;">
                    <ul>
                        <li><a href="/trangchu">
                                <h3>Trang chủ</h3>
                            </a></li>
                        <li><a href="#">
                                <h3>Giới thiệu</h3>
                            </a></li>
                        <li><a href="/sanpham">
                                <h3>Cửa hàng</h3>
                            </a></li>
                        <li><a href="/sanpham">
                                <h3>Sản Phẩm</h3>
                            </a></li>
                        <li><a href="#">
                                <h3>Bài viết</h3>
                            </a></li>
                        <li><a href="#">
                                <h3>Khách Hàng</h3>
                            </a></li>
                        <li><a href="#">
                                <h3>Liên hệ</h3>
                            </a></li>
                        <li><a href="#">
                                <h3>Danh sách sản phẩm</h3>
                            </a></li>
    
    
                    </ul>
                </div>
            </div>
    
    
        </header>
    




        <!-- phan noi dung -->
        <div class="main" style="background-color: #F3F4F6;padding-bottom: 20px;">
            <div class="img_comntainer">
                <a href=""><img id="img-jpg" src="img/img trang chu/desk_header_c7ad8b92b8.png" alt=""></a>
                <!-- <img class="img-png" src="img/img trang chu/bg_36c97129e6.png" alt=""> -->
                <div class="slide-buttonleft" onclick="left()">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
                <div class="slide-buttonright" onclick="right()">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>

            <div class="container">
                <div class="img_anh">
                    <a href=""><img id="img_iphone" src="img/img trang chu/iphone16.png" alt=""></a>
                    <a href=""><img id="img_samsung" src="img/img trang chu/sámung.png" alt=""></a>
                    <div class="slide-buttonleft" onclick="left1()">
                        <i class="fa-solid fa-chevron-left"></i>
                    </div>
                    <div class="slide-buttonright" onclick="right1()">
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div>
            </div>

            <div class="nd2">
                <div class="container">
                    <div class="inner-wrap1">
                        <div class="box">
                            <a href="/sanpham">
                                <div class="box1" style="background-color: white;;">
                                    <div class="dienthoai">
                                        Điện thoại
                                    </div>
                                    <div class="dienthoai1">
                                        <img src="img/img trang chu/dienthoai.png" alt="">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="box">
                            <div class="box1" style="box-shadow: none;">
                                <a href="">
                                    <div class="box1-1" style="display: flex; background-color: white;">
                                        <div class="phukien">
                                            Phụ kiện
                                        </div>
                                        <div class="img_phukien">
                                            <img src="img/img trang chu/tai nghe.png" alt="">
                                        </div>
                                    </div>
                                </a>
                                <a href="">
                                    <div class="box1-1" style="display: flex;background-color: white;">
                                        <div class="phukien">
                                            Máy tính <br> bảng
                                        </div>
                                        <div class="img_phukien">
                                            <img src="img/img trang chu/maytinhbang.png" alt="">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="box">
                            <div class="box1" style="box-shadow: none;">
                                <a href="">
                                    <div class="box1-1" style="display: flex; background-color: white;">
                                        <div class="phukien" style="margin-right: 0; padding-right: 27px;">
                                            Đồng hồ
                                        </div>
                                        <div class="img_phukien">
                                            <img src="img/img trang chu/đồng hồ thông minh.png" alt="">
                                        </div>
                                    </div>
                                </a>
                                <a href="">
                                    <div class="box1-1" style="display: flex; background-color: white;">
                                        <div class="phukien" style="margin-right: 70px;">
                                            Sim
                                        </div>
                                        <div class="img_phukien">
                                            <img src="img/img trang chu/sim.png" alt="">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="box">

                            <a href="">
                                <div class="box1" style="background-color: white;">
                                    <div class="dienthoai">
                                        Pc
                                    </div>
                                    <div class="dienthoai1">
                                        <img src="img/img trang chu/pc.png" alt="">
                                    </div>
                                </div>
                            </a>

                        </div>
                        <div class="box">
                            <div class="box1" style="box-shadow: none;margin-right: 0px;">
                                <a href="">
                                    <div class="box1-1" style="display: flex;background-color: white;">
                                        <div class="phukien" style=" padding-right: 27px;">
                                            Máy cũ giá rẻ
                                        </div>
                                        <div class="img_phukien">
                                            <img src="img/img trang chu/maycu.png" alt="">
                                        </div>
                                    </div>
                                </a>
                                <a href="">
                                    <div class="box1-1" style="display: flex;background-color: white;">
                                        <div class="phukien" style="margin-right: 70px;">
                                            Linh kiện
                                        </div>
                                        <div class="img_phukien">
                                            <img src="img/img trang chu/linh kiện.png" alt="">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nd3">
                <div class="container">
                    <div class="inner-wrap3">
                        <div class="img_giamgia">
                            <img src="img/img trang chu/giamgia.png" alt="Giảm giá tết">
                        </div>
            
                        <div class="sanpham_giamgia" id="list-giam-gia">
                            
                            <div style="text-align: center; width: 100%; color: white; padding: 20px;">
                                <i class="fas fa-spinner fa-spin"></i> Đang tải sản phẩm...
                            </div>
            
                        </div>
                    </div>
                </div>
            </div>

            <div class="nd4">
                <div class="container">
                    <div class="inner-wrap4">
                        <div class="traoguiyeuthuong">
                            <img style="height: 47px;width: auto;" src="img/img trang chu/Traodoiyeuthuong.png"
                                alt="Trao gửi yêu thương">
                            <h2>Trao gửi yêu thương</h2>
                        </div>
                        <div class="img_quatang">
                            <a href=""><img src="img/img trang chu/quâtng.png"
                                    style="width: 100%; height: 208px;border-radius: 15px;" alt="quà tặng"></a>
                        </div>
                        <div class="img_quatang1">
                            <div class="img1">
                                <a href=""><img src="img/img trang chu/tablet.png" alt="tablet"></a>
                            </div>
                            <div class="img1">
                                <a href=""><img src="img/img trang chu/pctt.png"
                                        alt="Phong cách thời trang"></a>
                            </div>
                            <div class="img1">
                                <a href=""><img src="img/img trang chu/gửi tặng cha mẹ.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nd5">
                <div class="container">
                    <div class="inner-wrap5">
                        <div class="title-section" style="margin-bottom: 10px;">
                            <h2>Món quà ý nghĩa</h2>
                        </div>
                        <div class="spmr" id="gift-list">
                            <div style="width:100%; text-align:center">Đang tải...</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nd5"> <div class="container">
                <div class="inner-wrap5">
                    <div class="title-section" style="margin-bottom: 10px;">
                        <h2>Sản phẩm mới ra</h2>
                    </div>
                    <div class="spmr" id="new-arrival-list">
                        <div style="width:100%; text-align:center">Đang tải...</div>
                    </div>
                </div>
            </div>
        </div>


            <div class="nd6">
                <div class="container">
                    <div class="inner-wrap6">
                        <div class="ketnamchonven">
                            <img style="height: 59px;" src="img/img trang chu/kếtchonnammoi.png"
                                alt="Kết năm chọn vẹn">
                        </div>
                        <div class="img_ketnamchonven">
                            <div class="img_ketnamchonven1">
                                <img src="img/img trang chu/kntv1.png" alt="kt=ntv">
                            </div>
                            <div class="img_ketnamchonven1">
                                <img src="img/img trang chu/kntv2.png" alt="kt=ntv">
                            </div>
                            <div class="img_ketnamchonven1">
                                <img src="img/img trang chu/kntv3.png" alt="kt=ntv">
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="nd5">
                <div class="container">
                    <div class="inner-wrap5">
                        <div class="title-section" style="margin-bottom: 10px;">
                            <h2>Sản phẩm đã xem</h2>
                        </div>
                        <div class="spmr" id="viewed-list">
                            <div style="width:100%; text-align:center">Đang tải...</div>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="nd7">
                <div class="container">
                    <div class="inner-wrap7">
                         <div class="thdb">
                            <img style="padding: 0px 120px" src="img/img trang chu/thdb.svg" alt="Thương hiệu đảm bảo">
                            <p ><h3 style="text-align: center;">Thương hiệu đảm bảo</h3></p>
                            <p style="text-align: center;">Nhập khẩu,bảo hành chính hãng</p>
                         </div>
                         <div class="thdb">
                            <img style="padding: 0px 120px" src="img/img trang chu/dtđ.svg" alt="Đổi trả dễ dàng">
                            <p><h3 style="text-align: center;">Đổi trả dễ dàng</h3></p>
                            <p style="text-align: center;">Nhập khẩu,bảo hành chính hãng</p>
                         </div>
                         <div class="thdb">
                            <img style="padding: 0px 120px" src="img/img trang chu/spcl.svg" alt="Sản phẩm chất lượng">
                            <p><h3 style="text-align: center;">Sản phẩm chất lượng</h3></p>
                            <p style="text-align: center;">Đảm bảo tương thích và độ bền cao</p>
                         </div>
                         <div class="thdb">
                            <img style="padding: 0px 120px" src="img/img trang chu/ghtn.svg" alt="Giao hàng toàn quốc">
                            <p><h3 style="text-align: center;">Giao hàng tận nơi</h3></p>
                            <p style="text-align: center;">Tại 63 tỉnh thành</p>
                         </div>
                    </div>
                </div>
            </div>


        </div>

     




        <!-- phan footer -->
        <footer class="footer">
            <div class="container">
                <div class="footer-container">

                    <div class="footer1">

                        <h3 class="footer_heading">MobileShop</h3>
                        <ul class="footer_list">

                            <li><a href="">Địa chỉ: Hưng Yên</a></li>
                            <li><a href="">Number: 0868812510</a></li>
                            <li><a href="">Email: yendaodinh842005@gmail.com</a></li>
                        </ul>

                    </div>
                    <div class="footer1">
                        <h3 class="footer_heading">Cửa hàng</h3>
                        <ul class="footer_list">

                            <li><a href="">Liên hệ</a> </li>
                            <li><a href="">Thông tin về chúng tôi</a></li>
                            <li><a href="">Giỏ hàng</a></li>
                        </ul>
                    </div>
                    <div class="footer1">
                        <h3 class="footer_heading">Khuyến mãi ưu đãi</h3>
                        <ul class="footer_list">

                            <li style="color: #666;">

                                <label for="fullname">Đăng kí nhận thông tin ở
                                    đây</label><!--ấn vào họ tên vẫn link vào ô input thuộc tính for-->
                                <br>
                                <div style="display: flex;">
                                    <input id="fullname" required placeholder="Nhập email" name="ho_ten" type="email"
                                        maxlength="10"
                                        style="padding: 8px;margin-top: 12px;"><!--hiển thị theo nhiều cách-->
                                    <div
                                        style=" align-items: center; display: flex ;margin-top: 12px;border: 1px #000 solid;padding: 0 5px;cursor: pointer; ">
                                        Đăng kí</div>
                                </div>
                            </li>

                            <li style="display: flex;">
                                <div class="footer_item">
                                    <a href="" style="color: black;"><i class="fa-brands fa-facebook"></i></a>
                                </div>
                                <div class="footer_item">
                                    <a href="" style="color: black;"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                                <div class="footer_item">
                                    <a href="" style="color: black;"><i class="fa-brands fa-linkedin"></i></a>
                                </div>


                            </li>
                        </ul>
                    </div>
                    <div class="footer1">
                        <h3 class="footer_heading">Địa chỉ</h3>
                        <ul class="footer_list">

                            <li><iframe class="bando"
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59729.553537434054!2d106.02220331783772!3d20.665628398322173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135c12ae1ec71a3%3A0x4d32999e6a9bb398!2zVHAuIEjGsG5nIFnDqm4sIEjGsG5nIFnDqm4sIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1734952209219!5m2!1svi!2s"
                                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe></li>

                        </ul>
                    </div>

                </div>

            </div>
        </footer>


    </div>
    <script src="/js/index.js"></script>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/auth_header.js"></script>
    <script src="/js/giohang.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="/js/trangchu.js"></script>
</body>

</html>