footer{
    background-color: #dededeba;
    
    border-top: 4px solid var(--text-color);
    padding-top: 12px;
}
.footer .footer-container{
    display: flex;
    justify-content: space-between;
}
.footer_heading{
    text-transform: uppercase;
    color: var(--text-color);
}
.footer1 .footer_list{
    padding-left: 0px;
    list-style-type: none;
    li{
        padding: 6px 0;
        a{
          
            text-decoration: none;
            color: #666;
        }
    }
  
}
.footer1 .footer_list a:hover{
    text-decoration: underline; 
}
.footer1 .bando{
    width: 215px;
    height: 141px;
}
.footer_list .footer_item{
    padding: 6px;
    border-radius: 50%;
    color: black;
}


